# ignore all the things
*

# except the following
!.gitignore
!configuration.yaml
!scenes.yaml
!ui-lovelace.yaml
!README.md
!pics
!pics/**
!custom_components
!custom_components/**
!plants.yaml
!sensors.yaml
# also track community addons from HACS
!www
!www/**
# ... but ignore gz files
**.gz

# and finally make sure to exclude pycache folders
*__pycache__*
