# ignore all the things
*

# except the following
!.gitignore
!configuration.yaml
!scenes.yaml
!README.md
!plants.yaml
!sensors/
!sensors/default.yaml
!sensors/weather.yaml
!lights.yaml

# "backups" some lovelace dashboards
!.storage
!.storage/lovelace_dashboards
!.storage/lovelace_resources
!.storage/lovelace.3d_printing
