# ignore all the things
*

# except the following
!.gitignore
!configuration.yaml
!scenes.yaml
!ui-lovelace.yaml
!README.md
!pics
!pics/*
!www
!www/*.js
!custom_components
!custom_components/*.py
!plants.yaml
!sensors.yaml